doctype html
html(lang='en')

    head
        meta(charset='utf-8')
        title Sonic-club
        link(rel="stylesheet" type="text/css" href="css/main.css")
        script(src="js/tab.js")

    body
        div.wrap
            div.left-logos
                img(src="img/sonic-bw.png" alt="Sonic")
                img(src="img/nemo-bw.png" alt="Nemo")

            div.main
                div(id="default" class="tabcontent home")
                    div.bg-home
                        img(src="img/img-10.png" alt="Home")

                    div.logo-home
                        img(src="img/sonic.png" alt="Logo")
                    div.txt-home
                        img(src="img/img-txt.png" alt="")

                div(id="noticies" class="tabcontent  noticies")
                    div.bg-noticies
                        img(src="img/img-12.png" alt="Noticies")

                    div.content-noticies
                        h1 Inauguració sonic club

                        h4 Lorem ipsum dolor sit amet, consectetur adipiscing elit.

                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vestibulum turpis a eros pulvinar, id pellentesque augue condimentum. Pellentesque rhoncus vel mi et finibus. Nunc ultricies congue magna vel placerat. Aenean feugiat lorem at ultricies tempor. Sed hendrerit, nisi sit amet efficitur malesuada, nunc eros rutrum enim, eget blandit est lectus vitae metus. Cras eu mauris et diam porttitor consectetur. Aliquam sapien nibh, varius ut rutrum quis, porttitor at enim. Donec scelerisque accumsan sapien ullamcorper malesuada. Quisque posuere libero ut faucibus iaculis. Maecenas ullamcorper, nulla ac bibendum blandit, quam enim hendrerit velit, quis ornare sapien purus in massa. Donec ornare ultricies arcu, in porta elit accumsan vel.

                        p Ut id ultricies elit. Cras pellentesque, ipsum et pharetra consequat, eros lorem lobortis est, et maximus ante nunc ut dolor. Maecenas ac sodales nunc. Ut eget urna diam. Quisque at arcu ante. Phasellus rhoncus tempus sem eget vulputate. Nam ultrices faucibus magna posuere pharetra. Duis sodales pulvinar elit. Etiam accumsan condimentum leo, posuere luctus nisl dapibus ut.

                div(id="concerts" class="tabcontent concerts")
                    div.bg-concerts
                        img(src="img/img-13.png" alt="Concerts")

                    div.content-concerts
                        h1 Concerts

                        h4 Lorem ipsum dolor sit amet, consectetur adipiscing elit.

                        h3 Live dr. Mashirito
                        span 04 / 03 / 2010
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vestibulum turpis a eros pulvinar, id pellentesque augue condimentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vestibulum turpis a eros pulvinar, id pellentesque augue condimentum.

                        h3 zeidun
                        span 11 / 03 / 2010
                        p Ut id ultricies elit. Cras pellentesque, ipsum et pharetra consequat, eros lorem lobortis est, et maximus ante nunc ut dolor. Maecenas ac sodales nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vestibulum turpis a eros pulvinar, id pellentesque augue condimentum.

                div(id="clubs" class="tabcontent clubs")
                    div.bg-clubs
                        img(src="img/img-14.png" alt="Clubs")

                    div.content-clubs
                        h1 clubs

                        h4 Lorem ipsum dolor sit amet, consectetur adipiscing elit.

                        h3 Sonic-club
                        span Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vestibulum turpis a eros pulvinar, id pellentesque augue condimentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vestibulum turpis a eros pulvinar, id pellentesque augue condimentum.

                        h3 Sonic-club
                        span Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        p Ut id ultricies elit. Cras pellentesque, ipsum et pharetra consequat, eros lorem lobortis est, et maximus ante nunc ut dolor. Maecenas ac sodales nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vestibulum turpis a eros pulvinar, id pellentesque augue condimentum.
                    div.logo-clubs
                        img(src="img/sonic-color.png" alt="Sonic")
                        img(src="img/nemo-color.png" alt="Nemo")

                div(id="galeria" class="tabcontent galeria")
                    div.bg-galeria
                        img(src="img/car-1.jpg" alt="Galería")
                    div.content-galeria
                        h1 galería
                        h4 Lorem ipsum dolor
                    div.carousel
                        ul
                            li.active
                                img(src="img/car-1.jpg" alt="Galería")
                            li
                                img(src="img/car-2.jpg" alt="Galería")
                            li
                                img(src="img/car-3.jpg" alt="Galería")
                            li
                                img(src="img/car-4.jpg" alt="Galería")
                            li
                                img(src="img/car-5.jpg" alt="Galería")
                            li
                                img(src="img/car-1.jpg" alt="Galería")
                            li
                                img(src="img/car-2.jpg" alt="Galería")
                            li
                                img(src="img/car-3.jpg" alt="Galería")

                div(id="contact" class="tabcontent contact")
                    div.bg-contact
                        img(src="img/img-13.png" alt="Contact")

                    div.content-contact
                        h1 contact us
                        form(id="form" class="topBefore")
                            input(id="name" type="text" placeholder="name")
                            input(id="email" type="text" placeholder="e-mail")
                            textarea(id="message" type="text" placeholder="message")
                            input(id="submit" type="submit" value="GO!")
                            span Send success !

                div.nav
                    ul
                        li(href="javascript:void(0)" class="tablinks active" onclick="chHeader(event, 'default')" title="sonic")
                            p sonic
                            span Lorem ipsum dolor sit amet, consectetur.

                        li(href="javascript:void(0)" class="tablinks" onclick="chHeader(event, 'noticies')" title="notícies")
                            p notícies
                            span Lorem ipsum dolor sit amet, consectetur.

                        li(href="javascript:void(0)" class="tablinks" onclick="chHeader(event, 'concerts')" title="concerts")
                            p concerts
                            span Lorem ipsum dolor sit amet, consectetur.

                        li(href="javascript:void(0)" class="tablinks" onclick="chHeader(event, 'clubs')" title="clubs")
                            p clubs
                            span Lorem ipsum dolor sit amet, consectetur.

                        li(href="javascript:void(0)" class="tablinks" onclick="chHeader(event, 'galeria')" title="galería")
                            p galería
                            span Lorem ipsum dolor sit amet, consectetur.

                        li(href="javascript:void(0)" class="tablinks" onclick="chHeader(event, 'contact')" title="contact")
                            p contact us
                            span Lorem ipsum dolor sit amet, consectetur.

                        li
                            p myspace
                            span Lorem ipsum dolor sit amet, consectetur.

                        li
                            p twitter
                            span Lorem ipsum dolor sit amet, consectetur.

                        li
                            p facebook
                            span Lorem ipsum dolor sit amet, consectetur.


                div.footer

            div.right-logos
                img(src="img/spritz.png" alt="Spritz")
                img(src="img/vinil.png" alt="Vinil")
                img(src="img/laPedra.png" alt="La Pedra")
                img(src="img/platea.png" alt="Platea")

