doctype html
html(lang='en')

    head
        meta(charset='utf-8')
        title Sonic-club
        link(rel="stylesheet" type="text/css" href="css/main.css")

    body
        div.wrap
            div.left
                img(src="img/sonic-bw.png" alt="Sonic")
                img(src="img/nemo-bw.png" alt="Nemo")

            div.main
                div.wrapImg
                    div.bgImg
                        img(src="img/img-1.jpg" alt="Home")
                    div.logo
                        img(src="img/sonic.png" alt="Logo")
                    div.txtImg
                        img(src="img/img-txt.png" alt="")

                div.nav
                    ul
                        li.active
                            a(href="#" title="notícies")
                                p notícies
                                span Lorem ipsum dolor sit amet, consectetur.
                        li
                            a(href="#" title="galería")
                                p galería
                                span Lorem ipsum dolor sit amet, consectetur.
                        li
                            a(href="#" title="links")
                                p links
                                span Lorem ipsum dolor sit amet, consectetur.
                        li
                            a(href="#" title="concerts")
                                p concerts
                                span Lorem ipsum dolor sit amet, consectetur.
                        li
                            a(href="#" title="myspace")
                                p myspace
                                span Lorem ipsum dolor sit amet, consectetur.
                        li
                            a(href="#" title="clubs")
                                p clubs
                                span Lorem ipsum dolor sit amet, consectetur.
                        li
                            a(href="#" title="twitter")
                                p twitter
                                span Lorem ipsum dolor sit amet, consectetur.
                        li
                            a(href="#" title="facebook")
                                p facebook
                                span Lorem ipsum dolor sit amet, consectetur.
                        li
                            a(href="#" title="spotify")
                                p spotify
                                span Lorem ipsum dolor sit amet, consectetur.

            div.right
                img(src="img/spritz.png" alt="Spritz")
                img(src="img/vinil.png" alt="Vinil")
                img(src="img/laPedra.png" alt="La Pedra")
                img(src="img/platea.png" alt="Platea")

        div.footer