.home
    display flex
    .logo-home
        position absolute
        right 20px
        top 20px
        img
            width 120px
    .txt-home
        position absolute
        right 20px
        bottom 20px
        img
            width 200px
            opacity .5