.nav
    ul
        display flex
        flex-wrap wrap
        justify-content space-between
        margin-top 20px
        li
            box-sizing border-box
            border-radius 7px
            width 33%
            margin 2px 0
            background rgba(131, 208, 245, 1)
            padding 20px 20px 8px 20px
            transition all 300ms ease-in-out
            p
                font-size 20px
                line-height 15px
                margin 0
                padding 0
                color white
            span
                font-family "Arial Rounded MT Bold", Arial, Helvetica, sans-serif
                letter-spacing -0.7px
                font-size 10px
                color black
            &:hover
                background rgba(230, 0, 125, 1)
                cursor pointer
        .active
                background rgba(230, 0, 125, 1)