ul, li
    list-style-type none
    margin 0
    padding 0

a
    text-decoration none
    cursor pointer
h1
    font-size 60px
    letter-spacing -0.4px
    text-transform lowercase
    margin 30px 0 0 0
    padding 0
    line-height 70px
h3
    font-size 40px
    margin 20px 0 0 0
h4
    font-size 16px
    margin 0 0 40px 0
span
    font-size 18px
    margin 0
p
    margin 10px 0 0 0
    text-transform initial
    font-size 14px

.tabcontent
    display none

.content-galeria, .content-clubs,
.content-concerts, .content-noticies, .content-contact
    position absolute
    color white
    text-transform lowercase
    background rgba(0,0,0,.8)
    height 100%
    width 50%
    padding 20px
    overflow-x hidden
    overflow-y scroll
    &::-webkit-scrollbar
        display none

body
    margin 0
    padding 0
    background url(../img/bg.jpg) no-repeat center center fixed
    height 100%
    width 100%
    font-family "Helvetica Neue", Helvetica, Arial, sans-serif
    background-size cover
    letter-spacing -0.4px
    .wrap
        position relative
        margin 0 auto
        padding 20px 20px 0 20px
        width 960px
        display flex
        justify-content space-between
        .main
            background white
            flex 1
            padding 20px
            .noticies, .home, .concerts, .clubs, .galeria, .contact
                position relative
                overflow hidden
                .bg-noticies, .bg-home, .bg-concerts, .bg-clubs, .bg-galeria, .bg-contact
                    position relative
                    overflow hidden
                    height 670px
                    img
                        position relative
                        margin auto
                        top -20px
                        max-width 100%
.footer
    height 40px
    background rgba(0,0,0,.9)
    width 690px
    margin-bottom 20px
    margin-left -20px
    margin-top 20px
    position absolute
    padding 0 20px

